* {
  margin: 0;
  box-sizing: border-box;
}

@font-face { font-family: jam-10; 
  src: url('../fonts/Jersey10-Regular.ttf'); } 

.background {
  background-color: rgb(243, 244, 245);
}

header {
  margin: 0;
  background-color: #066bff;
  height: 75px;
  position: relative;
  align-content: center;
  text-align: center;

  
}

h1 {
  font-family: jam-10;
  padding: 10px;
  color: whitesmoke;
  font-size: 55px;
}

span {
  color: orange;
}

.results {
  display: flex;
  flex-wrap: wrap;
  justify-content:space-around;
  margin-top: 100px;
}